---
layout: page
title: About Me
description: This is what I do.
background: '/img/bg-about.jpg'
---

<p>Tania Nasrollahi is a sociology Ph.D. Student at Indiana University-Bloomington, where she intends to study processes of women's adoption and avoidance of categories related to sexual violence. Broadly, her research interests include cultural sociology, sociological theory, and ethnographic methods. More specifically, she researches the impacts of categorization systems on identity formation, negotiation, and contestation.</p>

<p>She previously graduated summa cum laude from the University of California, Los Angeles, where her research was funded by the Andrew W. Mellon and Robert Lemelson Foundations.</p> 

<p>CV available upon request.</p>

<h2>Awards</h2>

<div id="accordion">
  {% for award in site.data.awards %}
  {{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}
  <div class="card">
    <div class="card-header" id="heading{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" aria-expanded="true" aria-controls="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
          {{ award.date }} - {{ award.title }} - {{ award.organization }}
        </button>
      </h5>
    </div>
    <div id="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" class="collapse" aria-labelledby="heading{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" data-parent="#accordion">
      <div class="card-body">
        {{ award.description }}
        {% if award.link %}
        <a href="{{ award.link }}" class="btn btn-primary" target="_blank">More Info</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
