---
layout: page
title: About
description:
background: '/img/bg-about.jpg'
---

<p>Tania Nasrollahi is a sociology Ph.D. Student at Indiana University-Bloomington, where she intends to study processes of women's adoption and avoidance of categories related to sexual violence. Broadly, her research interests include cultural sociology, sociological theory, and ethnographic methods. More specifically, she researches the impacts of categorization systems on identity formation, negotiation, and contestation.</p>

<p>She previously graduated summa cum laude from the University of California, Los Angeles, where her research was funded by the Andrew W. Mellon and Robert Lemelson Foundations.</p> 

<p>CV available upon request.</p>

<h2>Awards</h2>

<ul>
  {% for award in site.data.awards %}
  <li>
    <a data-toggle="collapse" href="#{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" role="button" aria-expanded="false" aria-controls="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
      <b>{{ award.date }}</b> - {{ award.title }} - <span class="text.muted">{{ award.organization }}</span>
    </a>
  </li>
  <div class="collapse" id="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
     <div class="card card-body mb-2">
      {{ award.description }}
        {% if award.link %}
        <p><a href="{{ award.link }}" class="btn btn-primary" target="_blank">More Info</a></p>
        {% endif %}                                                                                        
     </div>
  </div>
  {% endfor %}
</ul>


<!--
<div id="accordion">
  {% for award in site.data.awards %}
  <div class="card">
    <div class="card-header" id="heading{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" aria-expanded="true" aria-controls="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}">
          <span class="text-center">{{ award.date }} - {{ award.title }} - {{ award.organization }}</span>
        </button>
      </h5>
    </div>
    <div id="{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" class="collapse" aria-labelledby="heading{{ award.title | remove: " " | remove: "," | remove: "." | remove: "'" }}" data-parent="#accordion">
      <div class="card-body">
        {{ award.description }}
        {% if award.link %}
        <p><a href="{{ award.link }}" class="btn btn-primary" target="_blank">More Info</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
-->
